<h2>{{model.title}}</h2>
<p>Posted by {{model.author}} on {{model.createdDate}}</p>
<h4>Compensation: ${{model.compensation}}</h4>
<p>{{model.description}}</p>
<h3>Contact Details:</h3>
<ul>
  <li>Name: {{model.author}}</li>
  <li>Email: <a href="mailto:{{model.email}}">{{model.email}}</a></li>
  <li>Phone: {{model.phone}}</li>
</ul>
